# this library requires the cx_Oracle package, but we source it from our
# ready-made Oracle docker container: https://github.com/cityofaustin/atd-oracle-py
arrow==1.2.*
requests==2.28.*
sodapy==2.1.*
